src/main/mule/impl/impl-facebook.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="impl-facebookFlow" doc:id="8908ebf3-2340-47d2-9207-b969e60b7e02" >
		<ee:transform doc:name="Transform Message" doc:id="14715d44-3703-4bda-84f8-6fbd3f4768ce" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="hmac" ><![CDATA[%dw 2.0
output application/json
import dw::Crypto
var currentTimestamp = now()
var floatTimestamp = (currentTimestamp as Number {class: "float"})
var roundedTimestamp = round(floatTimestamp)
var hmac_timestamp = roundedTimestamp
var carrier_id = "1119"
var data = carrier_id ++ hmac_timestamp
var secret_key = "8rMEaDdKTl75Vox6YU2YfmTTpASO61KuAnqTvh14yHX4UpxND0NcbyYIADzvMt3Ln8GJANl6dQb8r8ldALlEzSArvHZ26mRuzDTc"
---
{ "HMACWith" : Crypto::HMACWith(secret_key as Binary, data as Binary, "HmacSHA256"),
   "timestamp": hmac_timestamp

 }]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Request" doc:id="37ebe7af-a6c3-4916-b527-c507f9238631" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "msisdn": payload.msisdn,
  "timestamp": vars.timestamp,
  "provision": {
    "fb_product_id": payload.provision.'fb-product-id',
    "expiration": payload.provision.expiration
  }
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestParams" ><![CDATA[%dw 2.0
output application/json
---
{
	"data_type": payload.'data-type',
	"timestamp": vars.hmac.timestamp,
	"carrier_id":'1119',
	"hmac": vars.hmac.HMACWith
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="3842908e-20d5-4d99-ac05-b85023d3bd8c" name="https-facebookSub_Flow"/>
		<ee:transform doc:name="Transform Message" doc:id="1bb26ff5-45e5-477a-bd6d-0bc120e931ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>


</mule>
