src/main/mule/impl/impl-facebook.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="impl-facebookFlow"
		doc:id="8908ebf3-2340-47d2-9207-b969e60b7e02">
		<java:invoke-static doc:name="Invoke static"
			doc:id="4d7a5934-875b-40d3-a73e-6e3fe5944d66"
			class="com.facebookTimestamp.utils.TimestampUtils"
			method="generateHmacTimestamp()" target="hmacTimeStamp" />
		<ee:transform doc:name="Transform Message" doc:id="14715d44-3703-4bda-84f8-6fbd3f4768ce" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="hmac" ><![CDATA[%dw 2.0
output application/json
import dw::Crypto
var hmac_timestamp = vars.hmacTimeStamp 
var hmac_timestamp2 = vars.hmacTimeStamp as String
var carrier_id = "1119"
var data = hmac_timestamp2 ++ carrier_id
var secret_key = "8rMEaDdKTl75Vox6YU2YfmTTpASO61KuAnqTvh14yHX4UpxND0NcbyYIADzvMt3Ln8GJANl6dQb8r8ldALlEzSArvHZ26mRuzDTc"
---
{ "HMACWith" : Crypto::HMACWith(secret_key as Binary, data as Binary, "HmacSHA256"),
   "timestamp": hmac_timestamp

 }


 ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Request" doc:id="37ebe7af-a6c3-4916-b527-c507f9238631" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "msisdn": "639171234567",
  "timestamp": vars.hmac.timestamp,
  "provision": {
    "fb_product_id": "free",
    "expiration": 1
  }
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="e0bb2b4c-136e-4554-87e1-f53a76ab2ce3" config-ref="HTTP_Request_Config_Facebook_Graph" path="${facebook.path}" sendCorrelationId="NEVER">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params><![CDATA[#[{
    "data_type": "provision",
    "timestamp": vars.hmac.timestamp,
    "carrier_id": "1119",
    "hmac": vars.hmac.HMACWith
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="ecc2be60-a5d9-4f15-825a-f867c5b6bcf0" message="#[payload]"/>
	
	</flow>


</mule>
