src/main/mule/sys-facebook-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">


	<flow name="sys-facebook-api-main">
		<http:listener
			config-ref="HTTP_Listener_Config_sys_facebook_api" path="${app.path.basepath}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="sys-facebook-api-config" />
		<error-handler ref="sys-facebook-api_APIKIT_Error_Handler" />
		
	</flow>
	<flow
		name="post:\provision:application\json:sys-facebook-api-config">
		<logger level="INFO" doc:name="START - POST/ provision"
			doc:id="8a0e921f-743f-46a3-9853-c63e70efb7bc" message="START - POST/ provision - Initiating facebook provision request"/>
		<flow-ref doc:name="Flow ref to impl-facebook-provisioning-process-subflow"
			doc:id="bd5ec399-5500-413c-a050-659a715eadb8"
			name="impl-facebook-provisioning-process-subflow" />
		<logger level="INFO" doc:name="END - POST/ provision"
			doc:id="3e78e990-9269-4c19-9e4c-3b9477d75292" message="#[&quot;END - POST/ provision - &quot; ++ payload.'x-event-msg']"/>

	</flow>
</mule>
